a(href='/')
  img#logo(src='./img/Namariq.jpg')
button#underline.navitem(onclick='location.href= \'/our-company\'') OUR COMPANY
button.navitem(onclick='location.href=\'/our-services\'') OUR SERVICES
button.navitem(onclick='location.href=\'/our-projects\'') OUR PROJECTS
button.navitem(onclick='location.href=\'/join-us\'') JOIN OUR TEAM
button.navitem(onclick='location.href=\'/contact-us\'') CONTACT US
button.navitem(onclick='location.href=\'/login\'') LOGIN
button.navitem(onclick='location.href=\'/signup\'') SIGN UP
